body{
margin:0;
background: #ccc;
}

/* for responive menu css */
.responsive-menu-section{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 55px;
} 

.mobile-menu a{
    display: inline-block;
    padding: 5px;
}

.mobile-menu{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: block;
}

.mobile-menu a span {
    margin-top: 5px;
    width: 25px;
    height: 2px;
    display: block;
    background: #fff;
}
/* for responive menu css end */
.for-slick {
	width:100%;
    float:left;
}
.m {
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 100%;
}
.m img{
	width:100%;
}
.for-slick{
    width:100%;
}
.slick-prev {
    left: 0;
    z-index: 9;
}
.slick-next {
    right: 0;
}